{{>dashPartial}}

<h1>{{[1].Name}} - {{[1].Exchange}}:{{[1].Symbol}}</h1>
<h2> {{[1].Country}} - {{[1].Sector}}</h2>
<p>{{[1].Description}}</p>

{{!-- {{#with overview.data}} --}}
<ul>
    <li>Market Cap: ${{[1].MarketCapitalization}}</li>
    <li>P/E Ratio: {{[1].PERatio}} </li>
    <li>Earnings Per Share: ${{[1].EPS}} </li>
    <li>Profit Margin: {{[1].ProfitMargin}} </li>
    <li>Dividend Yield: {{[1].DividendYield}} </li>
    <li>Dividend Date: {{[1].DividendDate}} </li>
    <li>52 Week Low: {{[1].52WeekLow}} </li>
    <li>52 Week High: {{[1].52WeekHigh}} </li>
    <li>200-Day Moving Average: ${{[1].200DayMovingAverage}} </li>
    <li>Analyst Price Target: ${{[1].AnalystTargetPrice}} </li>
</ul>


<div class="tradingview-widget-container">
  <div id="tradingview_fcc6d"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{[1].Exchange}}-{{[1].Ticker}}/" rel="noopener" target="_blank"><span class="blue-text">{{[1].Ticker}} stock chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
"width": "52vw",
  "height": "640vh",
  "interval": "D",
  "symbol": '{{[0]}}',
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_fcc6d"
}
  );
  </script>
</div>


{{#each [2]}}
    <a href="{{url}}">{{title}}</a>
    <p>{{source}}</p>
    <p>Sentiment: {{overall_sentiment_label}}</p>
    <br>
    <hr>
{{/each}}
