<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-brand">
      <a href="/">
      <h1 class="text-decoration-underline">
        Iron
        <span><img src="/images/logo.png" alt="stock clipart logo" /></span>
        Stocks
      </h1>
      <p>Your portfolios, your news.</p>

      </a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a  href="/auth/register"> <button class="btn btn-light text-primary">Register</button> </a>
        <a class="btn btn-light text-primary" href="/auth/login">Log In</a>
      </li>
    </ul>
  </div>
</nav>
