<div class="landing-body">
{{>indexPartial}}
  <div class="container" id="landing-text">
    <div class="row gy-4">
      <div class="col-12">
        <p class="text-light text-center">Welcome to Iron Stocks!</p>
      </div>
      <div class="col-12">
        <p class="text-light text-center">
          Your #1 free source for portfolio quotes, news, and charts.
        </p>
      </div>
      <div class="col-12">
        <p class="text-light text-center">
          Register for free today to master the market.
        </p>
      </div>
    </div>
  </div>
</div>
