body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

body {
  background-color: rgb(234, 237, 239);
  /* height: 1000px; */
  /* width: 100vw; */
}

.tradingview-widget-container {
  /* height: 500px; */
  background-color: red;
  /* width: 100vw; */
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width:fit-content;
}
