body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand a {
  text-decoration: none;
  color: inherit;
}

nav img {
  width: 5vw;
}

nav h1 {
  font-size: 3vw;
}

nav p {
  font-size: 1.5vw;
  margin-top: -1vw;
}

.landing-body {
  background-image: url("/images/landing.jpg");
  background-size: cover;
  height: 100vh;
}

#landing-text {
  margin-top: 15vh;
  backdrop-filter: blur(25px);
  font-size: 2vw;
}

.auth-form {
  margin-top: 15vh;
}

.space-above {
  margin-top: 5vh;
}

#portfolio-title {
  padding-top: 3vh;
  padding-left: 2vw;
}

.add-input {
  margin-top: 3vw;
}

#change-portfolio {
  margin-top: -2vh;
}

#stock-quote {
  padding-left: 3vw;
}

.list-group {
  height: 50vh;
  overflow-y: auto;
}

.error {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: fit-content;
}
